<style>
    .admin_nav {
        width: 100%;
        text-align: center;
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-size: 1.5rem;
        height: 60px;
        border-bottom: 3px solid #555;
        box-sizing: border-box;
    }
</style>
<div class="admin_nav">
    <div class="admin_nav_div">
        <a href="/admin/perf">공연관리</a>
    </div>
    <div class="admin_nav_div">
        <a href="/admin/actor">배우관리</a>
    </div>
    <div class="admin_nav_div">
        <a href="/admin/reserv">예매관리</a>
    </div>
    <div class="admin_nav_div">
        <a href="/admin/user">회원관리</a>
    </div>
</div>