<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .schedule_list {
            width: 1000px;
            height: 500px;
            overflow: auto;
        }
    </style>
</head>
<body>
    <h1>detail</h1>
    <h2>{% if perfInfo.is_hidden > 0 %}숨김처리{% endif %}</h2>
    {{perfInfo.perf_name}}<br/>
    {{perfInfo.poster_url}}<br/>
    {{perfInfo.synopsis_url}}<br/>
    {{perfInfo.start_date}}<br/>
    {{perfInfo.end_date}}<br/>
    {{perfInfo.genre}}<br/>
    {{perfInfo.reg_date}}<br/>
    {{perfInfo.resv_status}}<hr/>
    {{venueInfo.venue_name}}<br/>
    {{venueInfo.perf_region}}<hr/>
    {% for cast in perfCast%}
        {{cast.actor_name}}<br/>
        {{cast.actor_profile_url}}<br/>
        {{cast.cast_name}}<hr/>
    {% endfor %}
    <div class="schedule_list">
        <table border="">
            {% for schedule in perfScedule %}
                <tr>
                    <td>{{schedule.schedule_date}}</td>
                    <td>{{schedule.schedule_time}}</td>
                    <td>{{schedule.schedule_round}}</td>
                    <td>{{schedule.cast_name}} : {{schedule.actor_name}}</td>
                    <td>{{schedule.actor_profile_url}}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
    
    
    <a href="/admin/perf/list">뒤로</a>
    <a href="/admin/perf/modify/{{perfInfo.perf_id}}">수정</a>
    {% if perfInfo.is_hidden == 0 %}
        <a href="/admin/perf/delete/{{perfInfo.perf_id}}">삭제</a>
    {% endif %}
    {# <a href="/admin/perf/schedule/{{perfInfo.perf_id}}">스케줄관리</a> #}
    <a href="/admin/test/{{perfInfo.perf_id}}">테스트</a>
</body>
</html>