<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% include './admin_header.html' %}
    <h1>예매 목록</h1>
    {% for reserv in reservList %}
        {{reserv.resv_number}}<br/>
        {{reserv.user_name}}<br/>
        {{reserv.perf_name}}<br/>
        {{reserv.poster_url}}<br/>
        {{reserv.schedule_date}}<br/>
        {{reserv.schedule_time}}<br/>
        {{reserv.schedule_round}}<br/>
        {{reserv.seat_id_arr}}<br/>
        {{reserv.total_amount}}<br/>
        {{reserv.discount_rate}}<br/>
        {{reserv.final_amount}}<br/>
        {{reserv.resv_date}}<br/>
        {{reserv.resv_status}}<hr/>
    {% endfor %}
</body>
</html>