<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>뮤지컬 상세페이지</title>
    <link rel="stylesheet" href="../style/description.css">

    <!-- <script src="../js/description.js"></script> -->
     <script>
        function click_poster(){
            console.log('포스터 클릭')
            document.querySelector(".big_poster").style.display = "block"
            document.querySelector("body").style.overflow="hidden"
        }

        function ck_big(){
            console.log('큰 포스터 클릭')
            document.querySelector(".big_poster").style.display = "none"
            document.querySelector("body").style.overflow = "visible"
        }

        window.addEventListener('DOMContentLoaded', function(){
            document.querySelectorAll(".ind_actor").forEach(act_box =>{
                act_box.addEventListener("click", ()=>{
                    console.log(`/desc/actor/`+act_box.classList[1])
                    window.open(`/actor/`+act_box.classList[1])
                })
            })
        })

     </script>
    
</head>
<body>
    {% include '../header.html' %}
    <div class="big_poster" onclick="ck_big()"><img src="../img/{{perf.poster_url}}"><div class="b_p_tx">클릭하여 창 나가기</div></div>
    <div class="Big">

        <div class="musical_name">뮤지컬 〈{{perf.performance_name}}〉</div>
        <div class="des_main">
            <div class="musical_info">
                <!-- <a href="/main_poster" target="_blank"> -->
                    <img class="main_poster" onclick="click_poster()" src="../img/{{perf.poster_url}}">
                <!-- </a> -->
                <div class="musical_description">
                    <div>
                        장소<br/>
                        공연기간<br/>
                        공연시간<br/>
                        장르<br/>
                        가격
                    </div>
                    <div>
                        {{perf.venue_name}}<br/>
                        {{perf.start_date}} ~ {{perf.end_date}}<br/>
                        {{perf.running_time}}분<br/>
                        {{perf.genre}}뮤지컬<br/>
                        {% for info in musical %}
                        {{info.grade}}석 {{info.price}}원<br/>
                        {% endfor %}

                        <!-- R석 160,000원<br/>
                        S석 130,000원<br/>
                        A석 90,000원 -->
                    </div>
                </div>
            </div>
            <div  class="choiceDate">
                {% include 'calendar.html' %}
            </div>
        </div>
        <div class="actor">
            <!-- <img src="../img/actor.png" alt=""> -->
             <div class="act_wrapper">
                <div class="view_casting">
                    <div class="letter_casting">캐스팅</div>
                    <form action="/{{perf.performance_id}}" target="_blank">
                        <input type="submit" value="캐스팅 일정조회" class="casting_schedule">
                    </form>
                </div>
                <div class="actor_box">
                    {% for i in perf.cast_list %}
                        <div class="ind_actor {{i.actor_id}}">
                            <img src="../img/{{i.actor_profile_url}}" alt="">
                            <div class="actor_name">{{i.actor_name}}</div>
                            <div calss="cast_name">{{i.cast_name}}</div>
                        </div>
                    {% endfor %}
                </div>
            </div>
             
        </div>

        <div class="story">
            <img src="../img/{{perf.synopsis_url}}" alt="">
        </div>
        <div class="seat">
            <img src="../img/seat.png" alt="">
        </div>
        <div class="footer">
            <img src="../img/footer.png" alt="">
        </div>
    </div>
</body>
</html>