body { 
    margin: 0;
    padding: 0;
    background-color: #f9fafb;
    color: #333;
}

h1 {
    text-align: center;
    margin-top: 40px;
    color: #222;
}


.actor_container {
    max-width: 900px;
    margin: 40px auto;
    background: #fff;
    border-radius: 16px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.08);
    padding: 40px;
}


.actor_profile {
    display: flex;
    align-items: flex-start;
    gap: 30px;
}

.actor_profile img {
    width: 100px;
    /* object-fit: cover; */
    border-radius: 12px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    border: 1px solid #eee;
}

.actor_profile .text_info {
    flex: 1;
    line-height: 1.8;
    font-size: 1rem;
}


.actor_profile .text_info b {
    display: inline-block;
    width: 100px;
    color: #111;
}

/*관심 배우 버튼*/
.favor_button > input{
    margin-top: 12px;
}

/*구분선*/
hr {
    border: none;
    border-top: 1px solid #ddd;
    margin: 40px 0;
}

.perf_now{
    display: flex;
    align-items: flex-start;
    gap: 40px;
    margin-top: 20px;
}

/*상영작품*/
h4 {
    font-size: 1.3rem;
    color: #111;
    margin-bottom: 15px;
    padding-left: 10px;
}


/*포스터 이미지*/
.perf_now img {
    width: 120px;
    border-radius: 10px;
    margin-bottom: 10px;
    /* border: 1px solid #eee; */
    box-shadow: 0 2px 5px rgba(0,0,0,0.08);
}


/*출연작~ 장르*/
.perf_text {
    flex: 1;
    line-height: 1.8;
    font-size: 1rem;
}


.perf_now b {
    display: inline-block;
    width: 100px;
    color: #333;
}

