* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.big {
    width: 250px;
    margin: auto;
}

.wrapper {
    width: 250px;
    /* height: 400px; */
    background: #fff;
    border-radius: 10px;
    padding: 25px;
    /* margin: auto; */
    /* background-color: #eee; */
    border: 1px solid #ccc;
}

.wrapper > .header > .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.wrapper > .header > .nav > .current_date {
    font-size: 20px;
    font-weight: 600;
}

.wrapper > .header > .nav > button {
    width: 40px;
    height: 40px;
    font-size: 25px;
    color: #878787;
    cursor: pointer;
}

.calendar > ul {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    text-align: center;
}

.calendar > .weeks > li {
    font-weight: 500;
}

.calendar > .days {
    margin-bottom: 20px;
}

.calendar > ul > li {
    width: calc(100%/7);
    position: relative;
}

.calendar > .days > li {
    z-index: 1;
    margin-top: 10px;
    cursor: pointer;
}

.calendar > .days > .inactive {
    color: #aaa;
    cursor: default;
}

.calendar > .days > .active {
    color: #fff;
}

.calendar > .days > li::before {
    position: absolute;
    content: '';
    height: 20px;
    width: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: -1;
}

.days > li:hover::before {
    background: #f2f2f2;
}

.days > .inactive:hover::before {
    background: none;
}


.time > ul > li {
    height: 30px;
}

.time > ul {
    list-style: none;
    height: 0px;
    transition-duration: 0.5s;
    overflow: hidden;
}

.s_time {
    display: flex;
    list-style: none;
    cursor: pointer;
    margin-top: 10px;
}


label {
    cursor: pointer;
}

.reserve {
    margin-top: 10px;
    width: 250px;
    height: 50px;
    display: none;
}