.act_wrapper {
    width: 1200px;
    height: 300px;
}
.casting {
    position: relative;
    width: 1200px;
    height: 90px;
    background-color: beige;
}


.casting_schedule {
    width: 120px;
    height: 40px;
    position: absolute;
    right: 30px;
    top: 20px;
}

.letter_casting {
    height: 50px;
    line-height: 90px;
    font-size: 30px;
    margin-left: 30px;
}

.actor_box{
    display: flex;
    /* height: 150px; */
    width: 1200px;
    justify-content: space-evenly;
    /* flex-wrap: wrap; */
    overflow-x: auto;
    
}

.ind_actor {
    /* width: 150px; */
    width: 200px;
    height: 210px;
    background-color: pink;
    text-align: center;
    padding-top: 10px;
    box-sizing: border-box;
}

.ind_actor > img{
    width: 100px;
    height: 100px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 20px;
}

.fav_act {
    margin-top: 5px;
}

.actor_name{
    font-size: 20px;
    line-height: 30px;
}

.cast_name {
    font-size: 10px;
}