.actor_list{
    display: flex;
}

.actor_box{
    width: 300px;   
    height: 120px;
    /* background-color: orange; */
    /* border:solid 1px gray; */
    gap: 10px;
    margin: 10px;
    padding: 10px;
    position: relative;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    /* border-radius: 16px; */
    border-radius: 13px;
    display: flex;
}


.actor_box > img{
  width: 100px;   
  height: 120px;
  border-radius: 30px;
  /* float: left; */
  
}

a{
    text-decoration: none;
}

.actor_info{
    padding-top: 10px;
}


 .name {
    font-weight: bolder;
    color: black;
    font-size: 1.3rem;
    /* background-color: aquamarine; */
    

}

span{
    font-size: 1rem;
    color: gray;
    /* background-color: orange; */
  

    
}



