.actor_list{
    width: 100%;
    display: flex;
    overflow-y: auto;
    overflow-x: hidden;
    justify-content: flex-start;
    flex-wrap: wrap;
    max-height: 60vh;
    
}

.zero{
    
    font-size: 1.2rem;
    color: #777;
    margin: auto;
    padding: 20px;
}

.actor_box{
    width: 250px;   
    height: 120px;
    background-color: #f9f7ff;
    /* border:solid 1px gray; */
    gap: 10px;
    margin: 10px;
    padding: 10px;
    position: relative;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 13px;
    display: flex;
    
}


.actor_box > img{
  width: 100px;   
  height: 100px;
  border-radius: 50px;  
}

.actor_list > a{
    text-decoration: none;
    
}

.actor_info{
    padding-top: 10px;
    margin-left: 10px;
}


 .name {
    font-weight: bolder;
    color: #7d3fc0;
    font-size: 1.3rem;
    
    

}

span{
    font-size: 1rem;
    color: gray;
    /* background-color: orange; */
  
}



