 footer {
      width: 100%;
      height: 100px;
      background-color: #ff0;
      border: 1px solid #000;
    }

    wrapper {
      width: 1200px;
      background-color: rgb(211, 197, 171);
      border: 1px solid #000;
      margin: auto;
      display: flex;
    }

    aside {
      width: 400px;
      border: 1px solid #000;
      background-color: #faa;
    }

    section {
      width: 800px;
      height: 500px;
      border: 1px solid #000;
      background-color: #fa4;
    }