*{
    margin: 0;
    padding: 0;
}
.Big {
    width: 1200px;
    margin: auto;
}
.musical_name {
    height: 70px;
    /* text-align: center; */
    font-size: 40px;
    line-height: 70px;
}
.des_main {
    border: 1px solid #f00;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.musical_info {
    border: 1px solid #000;
    display: flex;
    width: 1200px;
    align-items: center;
    justify-content: space-evenly;
}
.musical_seat {
    width: 800px;
}

.musical_info > img{
    width: 250px;
    height: 350px;
}

.actor {
    /* height: 200px; */
    background-color: #faa;
}

.actor > img {
    /* height: 200px; */
    width: 1200px;
}

.story {
    /* height: 200px; */
    background-color: #afa;
    align-items: center;
    text-align: center;
}
.story > img {
    width: 1200px;
}

.seat {
    /* height: 200px; */
    background-color: #dbf;
}
.seat > img {
    width: 1200px;
}

.casting {
    /* height: 200px; */
    background-color: #aaf;
}
.casting > img {
    width: 1200px;
}

.review {
    /* height: 200px; */
    background-color: #3cf;
}
.review > img {
    width: 1200px;
}

.footer {
    /* height: 200px; */
    background-color: #f77;
}
.footer > img {
    width: 1200px;
}

.seat_aside {
    position: relative;
    align-items: center;
    text-align: center;
    border: 1px solid #000;
    width: 400px;
    height: 800px;
}

.seat_aside > .m_title > div:first-of-type {
    font-size: 30px;
    display: flex;
    flex-wrap: wrap;
    height: 70px;
    line-height: 30px;
}

.show_th {
    height: 30px;
}

.m_title {
    height: 100px;
    background-color: #dbf;
}

.seatG {
    height: 100px;
    line-height: 100px;
    background-color: #3cf;
}

.seatC {
    height: 100px;
    line-height: 100px;
    background-color: #aaf;
}

.doneBtn {
    height: 100px;
    /* line-height: 100px; */
    background-color: #afa;
    bottom: 0;
}

.doneBtn > .seat_tot_price {
    line-height: 30px;
    height: 30px;
}

.seat_tot_price + form > input {
    height: 50px;
    width: 300px;
}