*{
    margin: 0;
    padding: 0;
}

.first > .section > input{
    appearance: none;
    box-sizing: border-box;
    background-clip: content-box;
    margin: 0;
    padding: 0;
    width: 15px;
    height: 15px;
    cursor: pointer;
    background-color: yellowgreen;
    border: 3px solid yellowgreen;
}
.first > .section > input:checked {
    border-color: #f00;
    /* background-color: yellowgreen; */
}

.second > .section > input{
    appearance: none;
    box-sizing: border-box;
    background-clip: content-box;
    width: 15px;
    height: 15px;
    cursor: pointer;
    background-color: violet;
    border: 3px solid violet;
}
.second > .section > input:checked {
    border-color: #f00;
    /* background-color: yellowgreen; */
}

.third > .section > input{
    appearance: none;
    box-sizing: border-box;
    background-clip: content-box;
    width: 15px;
    height: 15px;
    cursor: pointer;
    background-color: skyblue;
    border: 3px solid skyblue;
}
.third > .section > input:checked {
    border-color: #f00;
    /* background-color: yellowgreen; */
}

.seat_wrapper {
    /* display: flex; */

    width: 800px;
    height: 800px;
    border: 1px solid #ccc;
    /* box-sizing: border-box; */
}
.first {
    width: 800px;
    height: 260px;
    display: flex;
}
.second {
    width: 800px;
    height: 260px;
    display: flex;
}
.third {
    width: 800px;
    height: 260px;
    display: flex;
}

.stair {
    width: 25px;
    height: 260px;
    text-align: center;
    font-size: 13px;
    /* background-color: #ff0; */
}

.section {
    width: 250px;
    height: 260px;
    border: 1px solid #000;
    box-sizing: border-box;
    padding: 5px;
}

.hallway {
    width: 800px;
    height: 10px;
    /* background-color: #ff0; */
}

.seat_ {
    width: 15px;
    height: 15px;
    margin: 2px;
    background-color: #ccc;
    border: 3px solid #000;
    box-sizing: border-box;
}

/* .second > .section:nth-of-type(1) {
    display: flex;
} */

.stair > div {
    margin-top: 5px;
}

.stair > div:first-of-type {
    margin-top: 10px;
}

.section > input:disabled {
    border-color: #555;
    background-color: #555;
    cursor: default;
}