<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> 배우 상세 정보 페이지</title>
    <link rel="stylesheet" href="/style/actor_info.css">
</head>
<body>
    <h1>배우 상세 정보</h1>
    <div class="actor_container">
        <div class="actor_profile">
            <img src="/img/{{res[0].actor_profile_url}}" alt=""><br/>
            <div class="text_info">
                <b>배우명  </b> {{res[0].actor_name}}<br/>
                <b>출생연도  </b>{{res[0].actor_birth_year}}<br/>
                <b>성별  </b>{{res[0].actor_gender}}<br/>
                <b>이력  </b>{{res[0].actor_history}}<br/>
            </div>
        </div>

        <div class="favor_button">
            <input type="button" id='btnFavor' value="관심 배우 등록">
        </div>

        <hr>

        <h4>상영작품</h4>
        <div class = "perf_now">
            <img src="/img/{{res[0].poster_url}}" alt=""><br/>
            <div class="perf_text">
                <b>출연작품  </b> {{res[0].perf_name}}<br/>
                <b>공연 시작일  </b> {{res[0].start_date}}<br/>
                <b>공연 종료일  </b> {{res[0].end_date}}<br/>
                <b>러닝타임  </b> {{res[0].running_time}}분<br/>
                <b>장르  </b> {{res[0].genre}}<br/>
            </div>
        </div>
    </div>

</body>
</html>