<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>detail</h1>
    {{perfInfo.name}}<br/>
    {{perfInfo.poster_url}}<br/>
    {{perfInfo.synopsis_url}}<br/>
    {{perfInfo.start_date}}<br/>
    {{perfInfo.end_date}}<br/>
    {{perfInfo.genre}}<br/>
    {{perfInfo.reg_date}}<br/>
    {{perfInfo.is_hidden}}<br/>
    {{perfInfo.resv_status}}<hr/>
    {{venueInfo.venue_name}}<br/>
    {{venueInfo.region}}<hr/>
    {% for cast in perfCast%}
        {{cast.actor_name}}<br/>
        {{cast.profile_image_url}}<br/>
        {{cast.cast_name}}<hr/>
    {% endfor %}
    {% for schedule in perfScedule %}
        {{schedule.schedule_date}}
    {% endfor %}
    <a href="/admin/perf/list">뒤로</a>
    <a href="/admin/perf/modify/{{perfInfo.perf_id}}">수정</a>
    <a href="/admin/perf/delete/{{perfInfo.perf_id}}">삭제</a>
    <a href="/admin/perf/schedule/{{perfInfo.perf_id}}">스케줄관리</a>
</body>
</html>