<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>공연 등록</title>
</head>
<style>
    * {
        margin: 0;
        padding: 0;

    }
    td > input {
        width: 100%;
        height: 100%;
    }
    .admin_actor_list, .admin_upload_actor {
        width: 1200px;
        height: 150px;
    }
    .admin_actor_list > .admin_actor_info, .admin_upload_actor > .admin_actor_info {
        width:100px;
        height:150px;
        float: left;
    }
</style>
<script>
    window.onload = function() {
        let ipAddCast = document.querySelector("#admin_tb_add_cast")
        let ipAddBg = document.querySelector("#admin_tb_add_bg")
        let tbCast = document.querySelector(".admin_tb_cast")
        var castArrIdx = 0;
        var castArr = []
        var uploadActor = []
        document.querySelector("#admin_tb_add_btn").onclick = (e)=>{
            const newCastData = {
                id: castArrIdx, // 배열에서 쉽게 찾기 위한 고유 ID 추가
                castName: ipAddCast.value,
                castBg: ipAddBg.value
            }

            let trCast = document.createElement("tr")
            trCast.id = `trCast${castArrIdx}`
            trCast.dataset.id = castArrIdx;
            let tdCastName = document.createElement("td")
            tdCastName.innerHTML = ipAddCast.value
            ipAddCast.value = '';
            let tdCastBg = document.createElement("td")
            tdCastBg.innerHTML = ipAddBg.value
            ipAddBg.value = '';
            let tdCastBtn = document.createElement("td")
            let removeBtn = document.createElement("input")
            removeBtn.setAttribute("type", "button")
            removeBtn.setAttribute("value", "-")
            removeBtn.id = `removeBtn${castArrIdx}`
            removeBtn.addEventListener("click", (e) => {
                tbCast.removeChild(trCast)
                const removeId = Number(trCast.dataset.id); 
        
                castArr = castArr.filter(item => item.id !== removeId);
                
                console.log('삭제 후 castArr:', castArr)
            })
            tdCastBtn.append(removeBtn)

            trCast.append(tdCastName)
            trCast.append(tdCastBg)
            trCast.append(tdCastBtn)
            tbCast.append(trCast)

            castArr.push(newCastData)

            castArrIdx++;
        }

        let divUploadActor = document.querySelector(".admin_upload_actor")
        let divActorList = document.querySelector(".admin_actor_list")
        let divActorInfoList = document.querySelectorAll('.admin_actor_info')

        for(const divActorInfo of divActorInfoList) {
            divActorInfo.addEventListener("click", (e)=>{
                console.log(divActorInfo.parentNode)
                console.log(divActorInfo.parentNode===divActorList)
                if(divActorInfo.parentNode===divActorList) {
                    divActorList.removeChild(divActorInfo)
                    divUploadActor.appendChild(divActorInfo)
                    if(!uploadActor.includes(divActorInfo.id.split('actor')[1]))
                        uploadActor.push(divActorInfo.id.split('actor')[1])
                } else {
                    divUploadActor.removeChild(divActorInfo)
                    divActorList.appendChild(divActorInfo)
                    console.log(`$pop ${divActorInfo.id.split('actor')[1]}`)
                    const indexToRemove = uploadActor.indexOf(divActorInfo.id.split('actor')[1]); // 값의 인덱스를 찾음
                        
                    if (indexToRemove > -1) {
                        uploadActor.splice(indexToRemove, 1);
                    }
                }
                console.log(uploadActor)
            })
        }

        let selectorTh = document.querySelector('#ftheator')
        let seatR = document.querySelector('#seatR')
        selectorTh.addEventListener('change', (e)=>{
            console.log('theator change', e.target.value)
            if(e.target.value=="th_big") {
                seatR.disabled = false
            } else {
                seatR.disabled = true
            }
        })

        let btn_upload = document.querySelector('#btn_upload')
        btn_upload.addEventListener('click', (e)=>{
            const uploadData = new FormData(document.uploadFrm)
            
            uploadData.append('castData', JSON.stringify(castArr))
            uploadData.append('actorData', uploadActor)
            
            //내용확인
            for(const [kk,vv] of uploadData.entries()){
                console.log(`${kk} , ${vv}`)
            }

            fetch(`/admin/perf/upload`,{
                    method:'POST',
                    // header 불필요 FormData 가 자동 생성
                    body:uploadData
                })     
               .then(answer=> answer.text())
               .then(data=>console.log(data))
               .catch(err=>console.log('에러 : ',err.message))
            
        })
    }
</script>
<body>
    <h1>insert</h1>
    <form action="/admin/perf/upload" method="POST" enctype="multipart/form-data" name="uploadFrm">
        공연이름 <input type="text" name="fname"><br/>
        포스터 <input type="file" name="fposter" id="fposter"><br/>
        시놉시스 <input type="file" name="fsynopsis" id="fsynopsis"><br/>
        공연장르 <select name="fgenre" id="fgenre">
            <option value="오리지널">오리지널</option>
            <option value="창작">창작</option>
            <option value="라이선스">라이선스</option>
            <option value="넌버벌퍼포먼스">넌버벌퍼포먼스</option>
        </select><br/>
        러닝타임 <input type="text" name="frunning"><br/>
        공연기간 <input type="date" name="fstart">~<input type="date" name="fend"><br/>
        공연장 <select name="ftheator" id="ftheator">
            <option value="1">샤롯데씨어터</option>
            <option value="2">드림씨어터</option>
            <option value="3">대학로예술극장</option>
            <option value="4">창원성산아트홀</option>
        </select><br/>
        좌석별 가격<br/>
        R<input type="text" name="fclassR" id="seatR"><br/>
        S<input type="text" name="fclassS" id="seatS"><br/>
        A<input type="text" name="fclassA" id="seatA"><br/>
        출연 배역 
        <table class="admin_tb_cast" border="">
            <tr>
                <td>배역</td>
                <td>줄거리</td>
                <td>삭제</td>
            </tr>
        </table>
        <hr/>
        배역 <input type="text" id="admin_tb_add_cast"/>
        줄거리 <input type="text" id="admin_tb_add_bg"/>
        <input type="button" name="fadd" value="추가" id="admin_tb_add_btn"/>
        <hr/>
        출연 배우
        <div class="admin_upload_actor">

        </div>
        출연 목록
        <div class="admin_actor_list">
            {%for actor in res%}
                <div class="admin_actor_info" id="actor{{actor.actor_id}}">
                    {{actor.actor_id}}{{actor.actor_name}}<br/>{{actor.birth_year}}{{actor.gender}}
                </div>
            {%endfor%}
        </div>
        <hr/>
        <input type="button" value="업로드" id="btn_upload">
        <a href="/admin/perf">뒤로</a>
        <hr/>
    </form>
</body>
</html>