<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>공연 등록</title>
</head>
<body>
    <h1>insert</h1>
    <form action="/admin/perf/upload" method="POST" enctype="multipart/form-data">
        fid : <input type="text" name="fid"><br/>
        <input type="file" name="fname"><br/>
        <input type="file" name="fname"><br/>
        <input type="submit" value="업로드">
        <a href="/admin/perf">뒤로</a>
        <hr/>
    </form>
</body>
</html>