<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>list</title>
    <style>
        img {
            width: 100px;
        }
    </style>
</head>
<body>
    <h1>list</h1>
    <h2>
        <a href="/admin/perf">공연관리</a>
        <a href="/admin/actor">배우관리</a>
        <a href="/admin/reply">리뷰관리</a>
        <a href="/admin/reserv">예매관리</a>
    </h2>
     <table border="">
            <tr>
                <td>번호</td>
                <td>공연이름</td>
                <td>포스터</td>
                <td>장르</td>
                <td>러닝타임</td>
                <td>시작날짜</td>
                <td>종료날짜</td>
                <td>예매상태</td>
                <td>등록일</td>
            </tr>  
        {%for perf in res%}
            <tr>
                <td>{{loop.index}}</td>
                <td><a href="/admin/perf/detail/{{perf.perf_id}}">{{perf.name}}</a></td>
                <td><img src="/img/{{perf.poster_url}}" alt=""></td>
                <td>{{perf.genre}}</td>
                <td>{{perf.running_time}}</td>
                <td>{{perf.start_date}}</td>
                <td>{{perf.end_date}}</td>
                <td>{{perf.resv_status}}</td>
                <td>{{perf.reg_date}}</td>
            </tr>    
        {%endfor%}
    </table>
    <a href="/admin/perf/upload">등록</a>
</body>
</html>