<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>coupon</title>
    <script>
        window.addEventListener('DOMContentLoaded', function(){
            document.querySelector(".write").innerHTML += "{{ptot}}<br/>"
        })
        


    </script>
</head>
<body>
    <h1>coupon데이터</h1>
    <div class="write"></div>
    go_data: {{temp_data[0].grade}}<br/>
    {% for i in temp_data %}
    좌석등급 {{i.grade}} {{i.area}}구역 {{i.s_row}}열 {{i.s_col}} {{i.price}}원<br/>
    {% endfor %}

</body>
</html>