<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>상세페이지 배우 캐스팅</title>
    <link rel="stylesheet" href="../style/desc_actor.css">

    <script>
        window.addEventListener('DOMContentLoaded', function(){
            for (let i=0 ; i<10; i++) {

                document.querySelector(".actor_box").innerHTML += 
                `<div class="ind_actor">
                    <img src="../img/cat3_cut.jpg" alt="">
                    <div class="actor_name">배우${i}</div>
                    <div calss="cast_name">배역${i}</div>
                </div>`
            }
            document.querySelectorAll(".ind_actor").forEach(act_box =>{
                act_box.addEventListener("click", ()=>{
                    
                    console.log(`배우 상세 페이지로 이동`)
                    // window.location.href="/"
                    window.open("/")
                    
                })
            })
        })
    </script>
</head>
<body>
    <div class="act_wrapper">
        <div class="casting">
            <div class="letter_casting">캐스팅</div>
            <form action="/" target="_blank">
                <input type="submit" value="캐스팅 일정조회" class="casting_schedule">
            </form>
        </div>
        <div class="actor_box">
            <div class="ind_actor">
                <img src="../img/cat3_cut.jpg" alt=""> 
                <div class="actor_name">배우1</div>
                <div calss="cast_name">배역1</div>
            </div>
            <div class="ind_actor">
                <img src="../img/cat3_cut.jpg" alt="">
                <div class="actor_name">배우2</div>
                <div calss="cast_name">배역2</div>
            </div>
            <div class="ind_actor">
                <img src="../img/cat3_cut.jpg" alt=""> 
                <div class="actor_name">배우3</div>
                <div calss="cast_name">배역3</div>
            </div>
            <div class="ind_actor">
                <img src="../img/cat3_cut.jpg" alt="">
                <div class="actor_name">배우4</div>
                <div calss="cast_name">배역4</div>
            </div>
            <div class="ind_actor">
                <img src="../img/cat3_cut.jpg" alt="">  
                <div class="actor_name">배우5</div>
                <div calss="cast_name">배역5</div>
            </div>
            <div class="ind_actor">
                <img src="../img/cat3_cut.jpg" alt="">
                <div class="actor_name">배우6</div>
                <div calss="cast_name">배역6</div>
            </div>

        </div>
    </div>
</body>
</html>