<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>상세페이지 배우 캐스팅</title>
    <link rel="stylesheet" href="../style/desc_actor.css">

</head>
<body>
    <div class="act_wrapper">
        <div class="casting">
            <div class="letter_casting">캐스팅</div>
            <input type="submit" value="캐스팅 일정조회" class="casting_schedule">
        </div>
        <div class="actor_box">
            <div class="ind_actor">
                <img src="../img/cat3_cut.jpg" alt=""> 
                <input type="submit" value="관심배우설정" class="fav_act">
                <div class="actor_name">배우1</div>
                <div calss="cast_name">배역1</div>
            </div>
            <div class="ind_actor">
                <img src="../img/cat3_cut.jpg" alt="">
                <input type="submit" value="관심배우설정" class="fav_act">  
                <div class="actor_name">배우2</div>
                <div calss="cast_name">배역2</div>
            </div>
            <div class="ind_actor">
                <img src="../img/cat3_cut.jpg" alt="">
                <input type="submit" value="관심배우설정" class="fav_act">  
                <div class="actor_name">배우3</div>
                <div calss="cast_name">배역3</div>
            </div>
            <div class="ind_actor">
                <img src="../img/cat3_cut.jpg" alt="">
                <input type="submit" value="관심배우설정" class="fav_act">  
                <div class="actor_name">배우4</div>
                <div calss="cast_name">배역4</div>
            </div>
            <div class="ind_actor">
                <img src="../img/cat3_cut.jpg" alt="">
                <input type="submit" value="관심배우설정" class="fav_act">  
                <div class="actor_name">배우5</div>
                <div calss="cast_name">배역5</div>
            </div>
            <div class="ind_actor">
                <img src="../img/cat3_cut.jpg" alt="">
                <input type="submit" value="관심배우설정" class="fav_act">  
                <div class="actor_name">배우6</div>
                <div calss="cast_name">배역6</div>
            </div>

        </div>
    </div>
</body>
</html>