<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style/grade.css">
</head>
<body>
    <h1>등급</h1>

    {{user_grade.grade_id}}

    <!-- <div class="user_box">
    {%for user in res %}
        {{user.user_id}}
        {{user.user_name}}
        {{user.question}}
        {{user.grade_id}}
        {{user.grade_name}}
        
        <br/>
        <img src="/img/{{user.grade_image_url}}" alt="">
        <br/>
    {% endfor %}
    </div> -->

    <div class="grade_list">
    {%for user in res %}
        {{user.grade_id}}<br/>
        <img src="/img/{{user.grade_image_url}}" alt=""><br/>
        {{user.grade_score}} 포인트 적립 시 , '{{user.grade_name}}' 등급 승급 <br/>
        
             
        
    {% endfor %}
    </div>

    <table class="styled-table">
    <thead>
        <tr>
            <th>등급</th>
            <th>등급명</th>
            <th>기준</th>
            <th>혜택</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>이미지</td>
            <td>{{grade_name}}</td>
        </tr>
        <tr>
            <td>이미지2</td>
            <td>{{grade_name}}</td>
        </tr>
    </tbody>
</table>

    


    <div class="a_tag">
        <a href="/main">메인페이지로</a>
    </div>

 
</body>
</html>