<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style/grade.css">
</head>
<body>
    <h1>등급</h1>

    <table class="styled-table">

    <thead>
        <tr>
            <th>등급</th>
            <th>등급명</th>
            <th>기준</th>
            <th>혜택</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td><img src="/img/grade_shape_3.png" alt=""></td>
            <td>입문</td>
            <td>회원가입 후 첫 로그인 시 등급 획득</td>
            <td>-</td>
        </tr>
        <tr>
            <td><img src="/img/grade_shape_4.png" alt=""></td>
            <td>애호</td>
            <td>100,000 포인트 적립 시, '애호'  등급 승급</td>
            <td>3% 할인</td>
        </tr>
        <tr>
            <td><img src="/img/grade_shape_5.png" alt=""></td>
            <td>열정</td>
            <td>300,000 포인트 적립 시, '열정' 등급 승급</td>
            <td>5% 할인</td>
        </tr>
        <tr>
            <td><img src="/img/grade_shape_6.png" alt=""></td>
            <td>전문</td>
            <td>1,000,000 포인트 적립 시, '전문' 등급 승급</td>
            <td>8% 할인</td>
        </tr>
        <tr>
            <td><img src="/img/grade_shape_star.png" alt=""></td>
            <td>명예</td>
            <td>5,000,000 포인트 적립 시, '명예' 등급 승급</td>
            <td>10% 할인</td>
        </tr>

        <tr>
            <td colspan="4">등급 상세 정보</td>
        </tr>
    </tbody>
</table>

    <a href="/main">메인페이지로</a>

</body>
</html>