<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>GRADE</h1>
    {{minsu[0].grade_id}}<br/>
    {{minsu[0].grade_name}}<br/>
    {{minsu[0].grade_score}}<br/>
    {{minsu[0].discount_rate}}<br/>
    <img src="../img/{{minsu[0].grade_image_url}}" alt=""><hr/>
    {{minsu[0].grade_image_url}}<hr/>

    {{minsu[1].grade_id}}<br/>
    {{minsu[1].grade_name}}<br/>
    {{minsu[1].grade_score}}<br/>
    {{minsu[1].discount_rate}}<br/>
    <img src="../img/{{minsu[1].grade_image_url}}" alt=""><hr/>
    {{minsu[1].grade_image_url}}<hr/>

    {{minsu[2].grade_id}}<br/>
    {{minsu[2].grade_name}}<br/>
    {{minsu[2].grade_score}}<br/>
    {{minsu[2].discount_rate}}<br/>
    <img src="../img/{{minsu[2].grade_image_url}}" alt=""><hr/>
    {{minsu[2].grade_image_url}}<hr/>

    {{minsu[3].grade_id}}<br/>
    {{minsu[3].grade_name}}<br/>
    {{minsu[3].grade_score}}<br/>
    {{minsu[3].discount_rate}}<br/>
    <img src="../img/{{minsu[3].grade_image_url}}" alt=""><hr/>
    {{minsu[3].grade_image_url}}<hr/>

    {{minsu[4].grade_id}}<br/>
    {{minsu[4].grade_name}}<br/>
    {{minsu[4].grade_score}}<br/>
    {{minsu[4].discount_rate}}<br/>
    <img src="../img/{{minsu[4].grade_image_url}}" alt=""><hr/>
    {{minsu[4].grade_image_url}}<hr/>

    <a href="/main">메인페이지로</a>
</body>
</html>