<style>
    header {
        position:relative;
        width: 100%;
        height: 100px;
        background-color: #aaf;
    }
    .search_box, .temp_box {
        float:right;
        width: 500px;
        border: 1px solid black;
        height: 100px;
        box-sizing: border-box;
    }
</style>
<header>
    <div class="temp_box">
        <a href="/admin/perf">admin</a>
        {{loginout}}
        {{kakaologinout}}
        {% if loginout == null %}
        <a href="/login">로그인</a>
        {% else %}
        <a href="/logout" id="logout">로그아웃</a>
        {% endif %}
        <a href="/mypage" id="aid">마이페이지</a>
        <a href="/main/grade">등급</a>
    </div>
    <div class="search_box">
        <input type="text" id="inputSearch"><input type="button" id="btnSearch" value="검색">
    </div>
    <script>
        let btnSearch = document.querySelector('#btnSearch')
        let inputSearch = document.querySelector('#inputSearch')

        btnSearch.addEventListener('click', (e)=>{
            console.log('search : ', inputSearch.value)
            location.href=`/search?word=${inputSearch.value}`
        })
    </script>
</header>