<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>list</title>
    <style>
        img {
            width: 100px;
        }
    </style>
</head>
<body>
    {% include './header.html' %}
    <h1>list</h1>
    장르
    <select>
        <option>전체보기</option>
        <option>오리지널</option>
        <option>창작</option>
        <option>라이선스</option>
        <option>넌버벌퍼포먼스</option>
    </select>

    <span>최신순</span>/<span>인기순</span>
    <section class="perfList">
        <table border="">
            {%for perf in perfList%}
                <tr>
                    <td><a href="/desc/{{perf.perf_id}}">{{perf.name}}</a></td>
                    <td><img src="img/{{perf.poster_url}}" alt=""></td>
                    <td>{{perf.genre}}</td>
                    <td>{{perf.running_time}}</td>
                    <td>{{perf.start_date}}</td>
                    <td>{{perf.venue_name}}</td>
                    <td>{{perf.region}}</td>
                </tr>    
            {%endfor%}
        </table>
    </section>
    
    <a href="/perf/upload">등록</a>
</body>
</html>