<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>main</title>
</head>
<style>
    * {
      margin: 0;
      padding: 0;
    }

    footer {
      width: 100%;
      height: 100px;
      background-color: #ff0;
      border: 1px solid #000;
    }

    wrapper {
      width: 1200px;
      background-color: #fa0;
      border: 1px solid #000;
      margin: auto;
      display: block;
    }
</style>

<body>
    {% include './header.html' %}
    <wrapper>
        <section>
            섹션
        </section>
    </wrapper>
    <footer>
        푸터
    </footer>
</body>

</html>

