<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>좌석선택하기</title>
    <link rel="stylesheet" href="../style/reserve.css">

    <script>
        let ddd = ""
            function returndata(dd) {
                ddd = dd
            }
        
        // 1 웹소켓 서버에 연결시도
        const socket = new WebSocket('ws://localhost:80')
        // 2 웹소켓 서버에 연결성공
        socket.onopen = ()=>{
            // 3.1 클라이언트가 송신
            socket.send('reserve')
        }
        // // 3.2 클라이언트가 수신
        socket.onmessage = (e)=>{

            console.log(`reserve에서 수신: `, e.data)
            // seatD = e.data
            // document.querySelector(".seatC").innerHTML += `<br/>${e.data}`
            // document.querySelector(".seatC").innerHTML = `<br/>${e.data}`
            // console.log(e.data)
            const data = JSON.parse(e.data);
            returndata(data.result)
            if (data.type == 'temp') {
                if (data.error) {
                    console.log('데이터 받아오기 실패: ', data.error)
                }
                else {
                    document.querySelector(".seatC").innerHTML = `선택한 좌석<br/>`
                    let totprice = 0
                    for (let i = 0; i < data.result.length; i++) {
                        let grade = JSON.stringify(data.result[i].grade).replace(/\"/g, '')
                        let area = JSON.stringify(data.result[i].area).replace(/\"/g, '')
                        let s_row = JSON.stringify(data.result[i].s_row).replace(/\"/g, '')
                        let s_col = JSON.stringify(data.result[i].s_col).replace(/\"/g, '')
                        let price = JSON.stringify(data.result[i].price).replace(/\"/g, '')
                        document.querySelector(".seatC").innerHTML += `좌석등급 ${grade} ${area}구역 ${s_row}열 ${s_col} ${price}원<br/>`
                        totprice += eval(price)
                    }
                    document.querySelector(".select_done").value = `${totprice}원     좌석 선택 완료`
                }
            }
        }

        window.addEventListener('DOMContentLoaded', function(){
            
            document.querySelector(".select_done").onclick = function() {
                    fetch(`/desc/coupon`, {
                        method: 'POST',
                        headers: {'Content-Type': 'application/json'},
                        body: JSON.stringify(ddd)
                        // body: ddd
                    })
                    .then(answer=>answer.json())
                }
        })

    </script>

</head>
<body>
    <!-- <h1>좌석선택하기</h1> -->
    <div class="Big">
        <!-- <div class="musical_name">뮤지컬 〈MAD HATTER〉</div> -->
        <div class="musical_info">
            <div class="musical_seat">

                {%  include 'seatB1.html' %} 

            </div>
            <div class="seat_aside">
                <div class="m_title">
                    <div>뮤지컬 〈MAD HATTER〉긴 이름의 뮤지컬 테스트 긴 이름의</div>
                    <div class="show_th">{{res[0].name}}</div>
                </div>
                
                <div  class="choiceDate">
                    {% include 'minicalendar.html' %}
                </div>
                <div class="seatG">
                    [yellowgreen] R석<br/>
                    [violet] S석<br/>
                    [skyblue] A석<br/>
                </div>
                <div class="seatC">선택한 좌석</div>
                <div class="doneBtn">
                    <div class="seat_tot_price">좌석의 가격 합산 정보</div>
                    <form action="/desc/coupon">
                        <input type="submit" class="select_done" value="좌석 선택 완료">
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>