<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>검색결과</title>
</head>
<body>
    {% include './header.html' %}
    <h1>검색결과</h1>
    <h1>배우</h1>
    {% for actor in actorResult %}
        <a href="/actor/{{actor.actor_id}}">{{actor.actor_name}}</a><br/>
        {{actor.actor_profile_url}}<br/>
        {{actor.actor_birth_year}}{{actor.actor_gender}}<hr/>
    {% endfor %}
    <hr/>
    <h1>공연</h1>
    {% for perf in perfResult %}
        <a href="/desc/{{perf.perf_id}}">{{perf.perf_name}}</a><br/>
        {{perf.poster_url}}<br/>
        {{perf.genre}}<hr/>
    {% endfor %}
    
</body>
</html>