<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>검색결과</title>
    <link rel="stylesheet" href="/style/search.css">
    <style>
        .search_result {
            padding: 20px;
            text-align: center;
        }
    </style>
</head>
<body>
    {% include './header.html' %}
    {% if actorResult.length > 0 or perfResult.length > 0 %}
        <h1 class="search_result">검색 결과</h1>
    {% else %}
        <h1 class="search_result"> 해당 내용의 검색 결과가 없습니다. </h1>
    {% endif %}

    {% if actorResult.length > 0%}
    <h2>배우</h2>
    {% endif %}
    <div class="actor_list">
        {% for actor in actorResult %}
        <div class="actor_box">
            <a href="/actor/{{actor.actor_id}}">
                <img id="img_search_actor" src="/img/{{actor.actor_profile_url}}" alt=""> <br/>
                <div class="div_span_text">
                <span class="span_name">{{actor.actor_name}}</span> <br/>
                <span class="span_info">{{actor.actor_birth_year}} &nbsp;&nbsp;{{actor.actor_gender}}</span> <br/>
                </div>
            </a>
        </div>   
        {% endfor %}
    </div>
    <!-- <hr> -->
    {% if perfResult.length > 0 %}
    <h2>공연</h2>
    {% endif %}
    <div class="perf_list">
        {% for perf in perfResult %}
        <div class="perf_box">
            <a href="/desc/{{perf.perf_id}}">
                <img id="img_search_perf" src="/img/{{perf.poster_url}}" alt="{{perf.poster_url}}"><br/>
                <div class="perf_text">
                    <span class="perf_name">{{perf.perf_name}}</span><br/>
                    {{perf.genre}}
                </div>
            </a>    
        </div>
        {% endfor %}
    </div>
</body>
</html>