<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>seat</title>
    <link rel="stylesheet" href="../style/seatB1.css">
    <script src="../js/seatB1.js"></script>
    
</head>
<body>
    <!-- <h1>대공연장1 좌석표</h1> -->
    <div class="seat_wrapper">
        <div class="first">
            <div class="section"></div>
            <div class="stair">
                <div>1</div>
                <div>2</div>
                <div>3</div>
                <div>4</div>
                <div>5</div>
                <div>6</div>
                <div>7</div>
                <div>8</div>
                <div>9</div>
                <div>10</div>
            </div>
            <div class="section"></div>
            <div class="stair">
                <div>1</div>
                <div>2</div>
                <div>3</div>
                <div>4</div>
                <div>5</div>
                <div>6</div>
                <div>7</div>
                <div>8</div>
                <div>9</div>
                <div>10</div>
            </div>
            <div class="section"></div>

        </div>
        <div class="hallway"></div>

        <div class="second">
            <div class="section"></div>
            <div class="stair">
                <div>1</div>
                <div>2</div>
                <div>3</div>
                <div>4</div>
                <div>5</div>
                <div>6</div>
                <div>7</div>
                <div>8</div>
                <div>9</div>
                <div>10</div>
            </div>
            <div class="section"></div>
            <div class="stair">
                <div>1</div>
                <div>2</div>
                <div>3</div>
                <div>4</div>
                <div>5</div>
                <div>6</div>
                <div>7</div>
                <div>8</div>
                <div>9</div>
                <div>10</div>
            </div>
            <div class="section"></div>

        </div>
        <div class="hallway"></div>
        <div class="third">
            <div class="section"></div>
            <div class="stair">
                <div>1</div>
                <div>2</div>
                <div>3</div>
                <div>4</div>
                <div>5</div>
                <div>6</div>
                <div>7</div>
                <div>8</div>
                <div>9</div>
                <div>10</div>
            </div>
            <div class="section"></div>
            <div class="stair">
                <div>1</div>
                <div>2</div>
                <div>3</div>
                <div>4</div>
                <div>5</div>
                <div>6</div>
                <div>7</div>
                <div>8</div>
                <div>9</div>
                <div>10</div>
            </div>
            <div class="section"></div>

        </div>
        <!-- <input type="checkbox"> -->
    </div>
</body>
</html>