<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        /* .SeatC {
            width: 400px;
            height: 120px;
        } */
    </style>
    <script>

        // 1 웹소켓 서버에 연결시도
        // const socket = new WebSocket('ws://localhost:80')
        // 2 웹소켓 서버에 연결성공
        // socket.onopen = ()=>{
        //     // 3.1 클라이언트가 송신
        //     socket.send('연결성공')
        // }
        // 3.2 클라이언트가 수신
        // socket.onmessage = (e)=>{
        //     // console.log(`선택된 좌석: `, ddd.split(','))
        //     // seatP[ddd.split(',')[1]-1] = e.data
        //     // console.log(e.data)
        //     // document.querySelector(".SeatC").innerHTML += `dd<br/>`
        //     // write_seat(e.data)
        // }

        // window.onload = ()=>{
        //     function write_seat(letter){

        //         document.querySelector(".SeatC").innerHTML += `${letter}<br/>`
        //     }

        // }

        
    </script>
</head>
<body>
    <div class="SeatC">선택 좌석 정보<br/>

    </div>
</body>
</html>