<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>약관동의</title>
    <style>
        * {
            margin: 0px;
            padding: 0px;
        }

        form {
            margin: auto;
        }

        label {
            text-align: center;
            width: 800px;
            margin: auto;
            border-radius: 10px;
            border: 1px solid #ccc;
            box-shadow: 1px 1px #8b8787;
        }
    </style>
</head>
<body>
    <wrapper>
        <section>
            <form action="">
                <label for=""><input type="checkbox" value="서비스 이용 약관" id="serviceClause">서비스 이용 약관</label>
                <br>
                <a href="">자세히보기</a>
                <br>
                <label for=""><input type="checkbox" value="개인정보 수집 동의" id="privacyClause">개인정보 수집 동의</label>
                <br>
                <a href="">자세히보기</a>
                <br>
                <label for=""><input type="checkbox" value="마케팅 정보 수신 동의" id="markettingClause">마케팅 정보 수신 동의</label>
                <br>
                <a href="">자세히보기</a>
                <br>
                <label for=""><input type="checkbox" value="전체 동의하기" id="entireClause">전체 동의하기</label>
                <br>
                <input type="button" name="nextBtn" id="nextBtn" value="다음">
            </form>
            <br>
            
        </section>
    </wrapper>
</body>
</html>