<link rel="stylesheet" href="/style/my_actor.css" />

<div class="actor_list">
    {% if actorList.length == 0 %}
        <span class="zero">관심있는 배우를 추가해주세요</span>
    {% endif %}
    {%for actor in actorList%}
    <a href="/actor/{{actor.actor_id}}">
        <div class="actor_box">
            <img src="/img/{{actor.actor_profile_url}}" alt="">
            <div class="actor_info">   
                <span class="name">{{actor.actor_name}}</span><br/>
                <span>{{actor.actor_gender}}</span><br/>
                <span>{{actor.actor_birth_year}}</span><br/>
            </div> 
        </div>
    </a>
    {%endfor%}
</div>
