<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>마이페이지</title>
  <link rel="stylesheet" href="/style/mypage.css">
</head>

<body>
  {% include '../header.html' %}

  <wrapper>
    <aside>
      사이드바 <br>
      {% include '../mypage/aside.html' %}
    </aside>
    <section id="content">
      {% include '../mypage/'+mainUrl+'.html' %}
      
    </section>

  </wrapper>

  <footer>푸터</footer>

</body>
</html>

