<script>
    window.onload = function () {

            const submit = document.querySelector('#submit')
            const oldpw = document.querySelector('#oldpw')
            const newpw1 = document.querySelector('#newpw1')
            const newpw2 = document.querySelector('#newpw2')
            const submit2 = document.querySelector('#submit2')

            // 새비밀번호 숨기고 있다가 이메일 입력 후 비밀번호 찾기 버튼 클릭 시 DB 확인 후 나타나기

            newpw1.style.display = 'none'
            newpw2.style.display = 'none'
            submit2.style.display = 'none'

            // post로 해당 부분 값 보내서 db 비교 후 맞으면 생성 시키기(비밀번호 찾기 버튼 클릭)
            document.querySelector("#submit").addEventListener("click", (e) => {
                e.preventDefault();

                const oldpwConfirm = document.querySelector('#oldpw').value.trim()
                const oldpw = oldpwConfirm

                 if (!oldpw) {
                     return alert('현재 비밀번호 입력')
                }

                let ttt = JSON.stringify({ oldpw })

                fetch(`/mypage/checkpw`, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'

                    },
                    body: ttt

                })
                    .then(res => res.json())
                    .then(data => {
                        if (data.exists) {
                            alert('비밀번호 확인 완료')
                            newpw1.style.display = 'block'
                            newpw2.style.display = 'block'
                            submit2.style.display = 'block'
                        } else {
                            alert('없는 비밀번호')
                        }
                    })
                    .catch(err => console.log('에러 :', err.message))
            })


            // --------------------------------------------------------------------------------- 비밀번호 변경 누르면 발생하는 거



            // post로 해당 부분 값 보내서 db 비교 후 맞으면 생성 시키기(비밀번호 찾기 버튼 클릭)
            document.querySelector("#submit2").addEventListener("click", (e) => {
                e.preventDefault();

                
                const oldpw = document.querySelector('#oldpw').value.trim()
                const newpw1 = document.querySelector('#newpw1').value.trim()
                const newpw2 = document.querySelector('#newpw2').value.trim()

                console.log(newpw1, newpw2)

                if (!newpw1 || !newpw2) { return alert('비밀번호 입력') }
                if (newpw1 !== newpw2) { return alert('비밀번호 불일치') }

                fetch(`/mypage/changepw`, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'

                    },
                    body: JSON.stringify({ newpw1 })

                })
                    .then(res => res.json())
                    .then(data => {
                        if (data.success) {
                            alert(data.message);
                            location.href = "/login";
                        } else {
                            alert(data.message);
                        }
                    })
                    .catch(err => console.log('에러 :', err.message))

            })
        }

    
</script>

<form id="oldpwForm">
    <input type="password" name="oldpw" id="oldpw" placeholder="현재 비밀번호">
    <br>
    <input type="submit" name="submit" value="현재 비밀번호" id="submit">
</form>
<br>
<form id="newpwForm">
    <input type="password" name="newpw" id="newpw1" placeholder="새 비밀번호">
    <br>
    <input type="password" name="newpw2" id="newpw2" placeholder="새 비밀번호 확인">
    <br>
    <input type="submit" value="비밀번호 변경" id="submit2">
</form>