<style>
    *{
        margin: 0px;
        padding: 0px;
    }

    section{
        width: 800px;
        border: 1px solid #000;
    }

    img {
        width: 120px;
        height: 100px;
        float: left;
        border-radius: 10px;
        margin: 10px;
    }

    .reserveMenu{
        width: 800px;
        border: 1px solid #000;
    }
</style>
<script>
    window.onload = function(){
        document.querySelector('#resvDetail').onclick = function (e){
            e.preventDefault()

            fetch('/mypage/resvDetail', {
                    method: 'GET'
                })
                    .then(answer => answer.text())
                    .then(data => data)
                    .catch(err => console.log('에러 :', err.message))
        
    }
}
</script>
<section>
    <!-- {% if resvList and resvList.length > 0 %} -->
    {% for i in resvList %}
    <div class="reserveMenu">
        D-3 / 예매일 : {{i.resv_date}}
    </div>
    <div>
        <!--<img src="../../img/bey_jlw971762243806595.png" alt="">-->
        <img src='../../img/{{i.poster_url}}' alt="">
        <input type="button" value="상세내역" id="resvDetail">
        <br>
        공연 이름 : {{i.performance_name}}
        <br>
        공연 날짜 : {{ i.schedule_date }}{{ i.schedule_time }}
        <br>
        공연장 이름 : {{i.venue_name}}
        <br>
        예매자 : {{i.user_name}}
        <br>
        예매 수량 : 
        <br>
        예매 번호 : {{i.seat.row}}{{i.resv_number}}
        <br>
        예매 좌석 : {{i.seat_number}}번 
        <br>
        결제 금액 : {{i.final_amount}}원
    </div>
    {%if i.resv_status == 'PAID' %}
    예매 상태 : 예매 완료(취소 불가)
    {% elif i.resv_status == 'REFUNDED' %}
    예매 상태 : 환불 완료
    {% endif %}
    {% endfor %}

    {% else %}
    예매 내역이 없습니다.
    {% endif %}
    
 
</section>